:root {
  --header-height: calc(124px + 2rem + 20px);
}

.header {
  background-color: #ef0e3d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 20px solid #333;
}
